@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

/* ===================== */
/* COMMOM CSS */
body{
    background: #f1f1f1;
    font-family: 'poppins', sans-serif;
}
*{
	outline: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.btn:focus,
button:focus{
    outline: none;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

h2.page-heading{
  margin: 5px 0 30px;
  padding: 0 5px 10px;
  border-bottom: 2px solid #333;
}

/* ===================== */

    /* navbar css start */
    
    .full-menu {
        background: #485460;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
    }
    .nav .black{
        background: #000;
    }
    .logo{
        background-color: #f53b57;
        color: #ffff;
        padding: 5px 10px;
    }
    
    .full-menu .navbar-nav .nav-link {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin: 0 20px;
        padding: 10px 0;
        transition: all linear .2s;
    }
    .full-menu .navbar-nav .nav-item{
        transition: all linear 0.3s;
    }
    .full-menu .navbar-nav .nav-item:hover{
        background-color: #f53b57;
    }
    .full-menu .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: #ffff;
        
    }
    .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f53b57;
}
    .log-div{
        margin-left: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #fff;
    }
    .log-btn{
        font-size: 14px;
        background-color: #f53b57;
        color: #fff;
    }
    .log-btn:hover{
        background-color: #05c46b;
        color: #fff;
    }
    .log-link{
        font-size: 14px;
    }
    .log-link a:hover{
        color: #fff;
        background-color: #f53b57;

    }
    
     /* .full-menu .navbar-nav a :hover {
        background-color: #f53b57;
        color: #ffff;
    } */
    /*
    .full-menu .navbar-nav :before {
        position: absolute;
        content: "";
        height: 3px;
        width: 0px;
        background-color: #e23e38;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all linear 0.4s;
    }
    
    .full-menu .navbar-nav :hover::before {
        opacity: 1;
        width: 30px;
    } */
    /* navbar css end */
    /* banner css starts */
    
    .slider-1 {
        background: url('../images/football.jpg') left top no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        z-index: 1;
        background-position-x: 50% !important;
        background-position-y: 50% !important;
    }
    
    .slider-1:before {
        position: absolute;
        content: " ";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .slider-2 {
        background: url('../images/cricket2.jpg') left top no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        z-index: 1;
        background-position-x: 50% !important;
        background-position-y: 50% !important;
    }
    
    .slider-2:before {
        position: absolute;
        content: " ";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .slider-3 {
        background: url('../images/cricket1.jpg') left top no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        z-index: 1;
        background-position-x: 50% !important;
        background-position-y: 50% !important;
    }
    
    .slider-3:before {
        position: absolute;
        content: " ";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .banner-txt {
        margin-top: 250px;
        margin-right: 125px;
    }
    
    .banner-txt h2 {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }
    
    .banner-txt h1 {
        color: #e23e38;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
    }
    .animate{
        color : #3498db;
    }
    
    .banner-txt p {
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        color: #fff;
    }
    
    .slick-dots {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .slick-dots li {
        display: inline-block;
        margin: 0 10px;
    }
    
    .slick-dots li button {
        border-style: none;
        height: 15px;
        width: 15px;
        background-color: transparent;
        border-radius: 50%;
        font-size: 0;
        border: 2px solid #fff;
        cursor: pointer;
    }
    
    .slick-dots li.slick-active button {
        background-color: #e23e38;
        border-style: none;
    }
    /* banner css ends */

    /* content */

    #content{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .card-header:first-child {
        background-color: #f53b57;
        color: #ffff;
        font-family: 'Poppins', sans-serif;
    }
    .post-heading{
        background-color: #f53b57;
        color: #ffff;
        padding: 10px;
        font-size: 22px;
        font-family: 'Poppins', sans-serif;
    }
    /* Main Content Styling */
#main-content{
    padding: 30px 0;
    min-height: 750px;
}

#main-content .post-container{
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#main-content .post-content{
    border-bottom: 1px solid #d1d1d1;
    padding: 0 0 30px;
    margin-bottom:30px;
}

#main-content .post-content img{
  width: 100%;
}

#main-content .post-content .post-img{
  border: 3px solid #e7e7e7;
  display: block;
  height: 145px;
  overflow: hidden;
  transition: border .3s;
}
#main-content .post-content .post-img:hover{
  border: 3px solid #f53b57;
}
#main-content .post-content .inner-content{
    /* border: 1px solid #000; */
}

#main-content .post-content h3{
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 7px;

}
#main-content .post-content h3 a{
    color: #f53b57;
    transition:all 0.3s;
}
#main-content .post-content h3 a:hover{
    color:#0fbcf9;
}

#main-content .post-content .post-information span{
    color: #606060;
    font-size: 12px;
    text-transform: capitalize;
    margin: 0 5px 5px 0;
    display: inline-block;
}

#main-content .post-content .post-information i{
    color: #1e90ff;
    margin-right: 1px;
}

#main-content .post-content .post-information a{
    color: #1e90ff;
    text-decoration: none;
}

#main-content .post-content .post-information a:hover{
    color: #333;
    text-decoration: none;
}

#main-content .post-content p,
#main-content .single-post p{
    color: #666;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin:0 0 10px;
}

#main-content .post-content a.read-more{
    color: #fff;
    background-color: #f53b57;
    font-size: 12px;
    text-transform: capitalize;
    padding: 3px 8px;
    border-radius: 2px;
    transition: all 0.3s;
}

#main-content .post-content a.read-more:hover{
    color: #fff;
    background-color: #0fbcf9;
}

#main-content .single-post{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main-content .single-post h3{
    color: #f53b57;
}

#main-content .single-post .post-information{
    margin: 0 0 10px;
}
#main-content .single-post p{
    text-align: justify;
}

#main-content .single-post img.single-feature-image{
    width: 70%;
    margin: 0 auto 20px;
    display: block;
    border: 3px solid #e7e7e7;
}

/* Pagination  Styling */
.pagination {
    display: block;
    text-align: center;
    margin: 0;
}

.pagination li {
    display:inline-block;
    margin: 0 5px 0 0;
}

.pagination li a{
    border: none;
    background: #1e90ff;
    color: #fff;
    padding: 5px;
}

.pagination li a:hover,
.pagination > li > a:focus{
    color:#fff;
    background:#333;
}

.page_links {
    background-color: #ccc;
    font-family: arial, verdana;
    font-size: 12px;
    text-decoration: none;
    border:1px solid #000;
    padding: 6px;
    margin: 3px;
}

#page_a_link{
    font-size: 12px;
    border:1px #000000 solid;
    color:#000;
    background-color: #cccccc;
    padding: 6px;
    margin: 3px;
    text-decoration: none;
}

i.fa{
    color:#222;
}

/* Sidebar Styling */
#sidebar h4{
    color: #1A1A1A;
    font-size: 17px;
    line-height: 27px;
    font-weight:600;
    text-transform: uppercase;
    padding: 0 0 0 5px;
    margin: 0 0 21px;
    border-left: 3px solid #f53b57;
}

#sidebar .search-box-container{
    background-color: #fff;
    padding: 20px;
    margin: 0 0 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .search-post{
    padding: 0;
}
#sidebar .search-post input{
    color: #606060;
}
#sidebar .search-post input:focus{
    box-shadow: none;
    border-color: #999;
}

#sidebar .search-post .btn{
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 8px;
    background-color: #f53b57;
    border-color: #f53b57;
    outline: none;
}

#sidebar .search-post .btn:hover,
#sidebar .search-post .btn:focus{
    text-shadow: 0 0 3px #333;
}

#sidebar .search-post i.fa{
    font-size: 16px;
    color: #0fbcf9;
    line-height: 40px;
    float:right;
}

#sidebar .recent-post-container{
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .recent-post{
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 15px;
    margin: 0 0 15px;
}

#sidebar .recent-post:last-child{
    margin: 0;
    padding: 0;
    border: none;
}

#sidebar .recent-post .post-img{
  display: inline-block;
  width: 33%;
  border: 3px solid rgba(0,0,0,0.3);
  vertical-align: top;
  transition: border .3s;
}

#sidebar .recent-post .post-img:hover{
  border: 3px solid #f53b57;
}

#sidebar .recent-post .post-img img{
    width: 100%;
}

#sidebar .recent-post .post-content{
    width: 65%;
    display: inline-block;
    border: none;
    padding: 0 0 0 7px;
    margin: 0;
}

#sidebar .recent-post h5{
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 5px;
}
#sidebar .recent-post h5 a{
    color: #f53b57;
    transition: all .1s linear;
}
#sidebar .recent-post h5 a:hover{
    color:  #0fbcf9;
}

#sidebar .recent-post span{
    color: #666;
    font-size: 11px;
    display: inline-block;
    margin: 0 5px 10px 0;
}

#sidebar .recent-post span a{
    color: #0fbcf9;
}
#sidebar .recent-post span i{
    color: #1E90FF;
}

#sidebar .recent-post a.read-more{
    color: #fff;
    background-color: #f53b57;
    width: 65px;
    font-size: 11px;
    text-align: center;
    padding: 0;
    display: block;
    transition: all 0.3s;
}

#sidebar .recent-post a.read-more:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#getting-started{
    text-align: center;
    display: flex;
}
#getting-started div{
    flex-basis: 160px;
    padding: 25px 0px;
    text-align: center;
    background-color: #f53b57;
    color: #fff;
    width: 100px;
    margin-right: 10px;
    box-shadow: -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.18);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.18);
    border-radius: 12px;
}
#getting-started div span{
    font-size: 25px;
    display: block;

}
#getting-started div span:nth-child(2){
    font-size: 15px;
    text-transform: uppercase;
}


.form-data form{
	box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    margin-top: 45px;
}
.content .form-section form{
	box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    padding: 30px;
}
.content .form-section{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-data {
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer{
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f2f6;
	border-radius: 10px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	padding: 5px 18px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover{
	color: #341f97;
}
.sidebar{
	background-color: #f8f9fa;
	padding: 0;
	height: 100vh;
}
.card-section .card-body .card-title{
	font-size: 18px;
	font-family: monospace;
}
.card-section .card-body .card-text{
	font-size: 30px;
	font-weight: bold;
	color: #007bff;
	font-family: monospace;
}
.card-section .card-header{
	letter-spacing: 1px;
}
.card-section .card-footer{
	letter-spacing: 1px;
	text-transform: uppercase;
}
.card-section .card-footer .btn{
	font-size: 12px;
	font-weight: 600;
	box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
}
.table-content{
	font-size: 12px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #fff;
}

#main-content .sidebar .list-group-item+.list-group-item:hover{
    color: #fff;
}   